@model GroupProject.ViewModels.Admin.FakturaViewModel

<section class="container" id="__AjaxAntiForgeryForm">
    <div id="errorMessage" class="errorMessage"></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <h2>Oversikt over alle betalinger som ligger til forfall</h2>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Fra Konto:</th>
            <th>Mottaker:</th>
            <th>konto:</th>
            <th>Forfallsdato:</th>
            <th>Saldo:</th>
            <th>Sum:</th>
            <th>Valg:</th>
        </tr>

        @foreach (Betalinger betal in Model.payments)
        {
            <tr id="invoiceId_@betal.Id">
                @foreach (Konto konto in Model.accounts)
                {
                    if (betal.konto.kontoNr.Equals(konto.kontoNr))
                    {
                        <td>
                            @konto.kontoType
                            <small>(@betal.konto.kontoNr.Insert(4, " ").Insert(7, " "))</small>
                        </td>
                    }
                }
                <td>@betal.mottaker</td>
                <td>@betal.tilKonto.Insert(4, " ").Insert(7, " ")</td>
                <td>@betal.forfallDato.ToString("dd.MM.yyyy")</td>
                <td id="saldo_@betal.Id">
                    @betal.konto.saldo
                    <span class="currency" style="margin-left: 5px">Kr</span>
                </td>
                <td>@betal.belop<span class="currency" style="margin-left: 5px">Kr</span></td>
                <td>
                    @if (@betal.utfort == false && @betal.konto.saldo > @betal.belop)
                    {
                        <label><input type="checkbox" name="isPayed" value="@betal.Id">Betal</label>
                    }
                    else
                    {
                        <label>Ingen Dekning</label>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <tr>
        <a onclick="deleteInvoice()" class="btn">Betal alle</a>
        @Html.AntiForgeryToken()
    </tr>
</section>

<script src="/js/adminFaktura.js"></script>

