@model GroupProject.ViewModels.User.FakruraViewModel

<section class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <h2>Oversikt over betalinger til forfall</h2>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Mottaker:</th>
                <th>Fra Konto:</th>
                <th>Til konto:</th>
                <th>Forfallsdato:</th>
                <th>Sum:</th>
                <th>Valg:</th>
            </tr>
           
                @foreach (Betalinger betal in Model.payments)
            {
            <tr>
                <td>@betal.mottaker</td>
                @foreach (Konto konto in Model.accounts)
                {
                    if (betal.fraKonto.Equals(konto.kontoNr))
                    {
                        <td>@konto.kontoType
                            <small>(@betal.fraKonto.Insert(4," ").Insert(7," ")) </small >
                        </td>
                    }
                } 
                <td>@betal.tilKonto.Insert(4, " ").Insert(7, " ")</td>
                <td>@betal.forfallDato.ToString("dd.MM.yyyy")</td>
                <td>@betal.belop<span class="currency" style="margin-left: 5px">Kr</span></td>
                <td>@if (betal.utfort == false)
                {
                    <button id="endreknapp" type="submit" class="btn btn-default">Endre</button>
                    <button id="slettknapp" type="submit" class="btn btn-default">Slett</button>
                }
                    
                    
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
