

@{
    Layout = "_Layout";
}

<section>
    <h1>Personer</h1>
    <ul>
        @foreach ( var person in Model ) {
            <li>Personnr: @person.PersonNr</li>
            <li>passord: @person.passord</li>
            <li>createdBy: @person.createdBy</li>
            <li>UpdatedBy: @person.UpdatedBy</li>
            <li>CreatedDate: @person.CreatedDate</li>
        }
    </ul>
</section>

